.MenuCardbg{
    background: rgba(256, 256, 256, 0.8);
    padding-bottom: 150px;
}
.MenuCardTitle{
    text-align: center;
    padding: 50px 0;
}
.MenuCardTitle h3{
    font-family: 'Cookie', cursive;
    font-size: 68px;
    color: #2c3a42;
    line-height: 30px;
}
.MenuCardTitle h2{
    font-family: 'Raleway', sans-serif;
    color: #ad6c12;
    font-size: 60px;
    text-transform: uppercase;
}
.card-text{
    background: #fff;
    padding: 24px;
}
.card-text p,
.card-text span{
    font-family: 'Raleway', sans-serif;
    color: #555555;
}
.card-text h5{
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
    font-weight: 700;
    color: #4f4e4e;
}
.read-more-link{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #555555;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
}
.read-more-link:hover{
    text-decoration: none;
    color: #555555;
}
.read-more-link::after{
    content: '';
    position: absolute;
    height: 7px;
    width: 92px;
    background-color: #ff992b;
    left: 0;
    bottom: -7px;
}
.card-img{
    width: 100%;
}
@media (max-width: 1140px) and (min-width: 768px) {
    .MenuCardTitle h2 {
        font-size: 38px;
    }
    .MenuCardTitle h3 {
        font-size: 46px;
    }
}
@media (max-width: 767px) and (min-width: 320px) {
    .col-md-4.col-sm-6.col-12{
        margin-bottom: 15px;
    }
    .MenuCardbg {
        padding-bottom: 40px;
    }
    .MenuCardTitle h2 {
        font-size: 34px;
    }
    .MenuCardTitle h3 {
        font-size: 40px;
    }
}